<main th:fragment="Body_Main" class="p-4  ">
    <div th:replace="plantilla/ui/artistas/Div_Inicio::Div_Inicio" ></div>
    <div th:replace="plantilla/ui/artistas/Div_Conoce_Artistas::Div_Conoce_Artistas"></div>
    <div th:replace="plantilla/ui/artistas/Div_Table::Div_Table"></div>
    <p class="m-5 text-sm text-slate-500" >
        <i >
            "En nuestra sección de artistas, celebramos la diversidad y la creatividad de talentos únicos que inspiran y enriquecen el mundo del arte, la música y la cultura, ofreciendo un espacio para descubrir nuevas voces y perspectivas que resuenan con cada uno de nosotros."
        </i>
    </p>
   </main>
</main>