<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head th:replace="plantilla/components/Head_Main::Head_Main" ></head>
<body class="flex bg-black  font-montserrat flex flex-col">
    <header th:replace="plantilla/components/generos/Header_Generos::Header_Generos" ></header>
    <main class="w-full max-w-[1200px] bg-black mx-auto min-h-screen shadow-md">
        <main  th:replace="plantilla/components/generos/Body_Main::Body_Main" ></main>
    </main>
    <script  th:src="@{../app.js}" ></script>
</body>
</html>