<div th:fragment="About_Home" class="grid grid-cols-2 w-full mt-[150px]">
    <div class=" flex justify-center items-center p-9">
        <section class="overflow-hidden rounded-lg shadow-md object-cover -rotate-3 animate-pulse">
            <img class="object-cover w-[400px] h-[400px]"  src="/imgs/About_Jesus.jpeg" alt="iamgen de Jesus">
        </section>
    </div>
    <div class="flex justify-center items-center p-3">
        <div class="text-[24px] flex justify-center items-center p-9 flex-col gap-5 font-medium  text-slate-300  ">
            <p>
                Hola a todos : Permítanme comenzar presentándome. Mi nombre es
                Jesús Jean Carlos Gonzales Vela y estoy aquí hoy para compartir
                un poco sobre mí y lo que me apasiona.
            </p>
            <p>
                Elegí la carrera de Administración de Sistemas porque desde
                siempre me ha fascinado el mundo de la programación y el
                desarrollo de aplicaciones web. Con 21 años, vivo en el vibrante
                distrito de Villa María del Triunfo junto a mis padres y mi
                hermano.
            </p>
            <p>
                Cuando no estoy inmerso en el mundo de la tecnología, me gusta
                relajarme por las tardes escuchando música, especialmente
                baladas que me permiten conectar con mis emociones y
                reflexionar.
            </p>
        </div>
    </div>
</div>