<main th:fragment="Body_Main" >
    <div th:replace="plantilla/ui/About_Home::About_Home"></div>
    
    <div class="w-full h-[400px]  flex justify-center items-center gap-9">
        <section class="w-[250px] h-[250px] bg-white rounded-lg rotate-3 overflow-hidden brightness-50 hover:brightness-75  "><img src="/imgs/auditorioCarrusel.jpg" class="w-full h-full object-cover"  alt="auditorio"></section>
        <section class="w-[250px] h-[250px] bg-white rounded-lg -rotate-3 overflow-hidden brightness-50 hover:brightness-75"><img src="/imgs/estadioCarrusel.jpg" class="w-full h-full object-cover"  alt="estadio"></section>
        <section class="w-[250px] h-[250px] bg-white rounded-lg rotate-3 overflow-hidden brightness-50 hover:brightness-75"><img src="/imgs/fiestaCarrusel.jpg" class="w-full h-full object-cover"  alt="fiesta"></section>
        <section class="w-[250px] h-[250px] bg-white rounded-lg -rotate-3 overflow-hidden brightness-50 hover:brightness-75"><img src="/imgs/paisajeCarrusel.jpg" class="w-full h-full object-cover"  alt="paisaje"></section>
    </div>
</main>