<div th:fragment="Div_Redes" class="w-[50px] h-[200px] bg-indigo-900 fixed left-0 top-[50%] translate-y-[-50%] rounded-r-lg" >
    <ul class="w-full h-full flex flex-col gap-2 justify-center items-center ">
        <li class="text-[20px] font-bold text-slate-300 hover:text-indigo-700 transition-colors">

            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i> </a>
        </li>
        <li class="text-[20px] font-bold text-slate-300 hover:text-indigo-700 transition-colors">

            <a href="https://www.youtube.com/@Slaming14" target="_blank"><i class="fa fa-youtube"></i> </a>
        </li>
        <li class="text-[20px] font-bold text-slate-300 hover:text-indigo-700 transition-colors">

            <a href="https://www.linkedin.com/in/jesus-jean-carlos-gonzales-vela-775966332/" target="_blank"><i class="fa fa-linkedin"></i> </a>
        </li>
        <li class="text-[20px] font-bold text-slate-300 hover:text-indigo-700 transition-colors "> 
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i> </a>

        </li>
    </ul>
</div>