<header th:fragment="Header_Home" class="w-full">
  <main class="w-full max-w relative">
    <!-- Menú desplegable -->
    <div
      id="dropdown-menu"
      class="fixed w-full h-screen bg-black text-white transform -translate-y-full transition-all duration-500 ease-in-out z-50 overflow-hidden"
    >
      <div class="container mx-auto">
        <button
          id="close-menu"
          class="absolute z-50 top-4 right-4 cursor-pointer text-white"
        >
          <i class="fas fa-times text-white text-3xl"></i>
        </button>
        <div class="w-full h-screen bg-indigo-900 grid grid-cols-2">
          <div class="w-full h-full flex justify-center items-center">
            <ul class="space-y-4">
              <li
                class="transform -translate-y-full transition-transform duration-300 ease-in-out"
              >
                <a
                  href="#"
                  class="text-[50px] hover:text-indigo-500 transition-colors line-through"
                  th:href="@{/home}"
                  >Home</a
                >
              </li>
              <li
                class="transform -translate-y-full transition-transform duration-300 ease-in-out"
              >
                <a
                  href="#"
                  class="text-[50px] hover:text-indigo-500 transition-colors"
                  th:href="@{/artistas/home}"
                  >Artistas</a
                >
              </li>
              <li
                class="transform -translate-y-full transition-transform duration-300 ease-in-out"
              >
                <a
                  href="#"
                  class="text-[50px] hover:text-indigo-500 transition-colors"
                  th:href="@{/albumnes/home}"
                  >Albumnes</a
                >
              </li>
              <li
                class="transform -translate-y-full transition-transform duration-300 ease-in-out"
              >
                <a
                  href="#"
                  class="text-[50px] hover:text-indigo-500 transition-colors"
                  th:href="@{/canciones/home}"
                  >Canciones</a
                >
              </li>
              <li
                class="transform -translate-y-full transition-transform duration-300 ease-in-out"
              >
                <a
                  href="#"
                  class="text-[50px] hover:text-indigo-500 transition-colors"
                  th:href="@{/generos/home}"
                  >Generos</a
                >
              </li>
              <li>
                <p
                  class="text-white text-[18px] translate-y-24 font-light text-center sm:text-right"
                >
                  &copy; 2024 Jesus Jean Carlos Gonzales Vela. Todos los
                  derechos reservados.
                </p>
              </li>
            </ul>
          </div>
          <div class="w-full h-full flex justify-center items-center">
            <div
              class="w-[600px] h-[600px] overflow-hidden shadow-lg shadow-gray-800"
            >
              <img
                src="/imgs/inicio_head_home.avif"
                class="h-full w-full object-cover"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="w-full max-w h-24 bg-black">
      <ul class="w-full h-full items-center justify-between flex flex-row">
        <li>
          <div class="h-12 flex justify-center items-start flex-col px-3">
            <p class="text-[20px] font-bold text-white">CERTUS</p>
            <div  sec:authorize="isAuthenticated()" class="relative h-8 w-32">
              <span class="text-xl flex text-white">@ <p sec:authentication="name" class="capitalize"></p> </span>
              <p class="text-[12px] text-white">Role : <span class="uppercase" sec:authentication="principal.authorities" >ROLEMIN</span></p>
            </div>
          </div>
        </li>
        <li sec:authorize="isAuthenticated()">
          <button
            id="menu-toggle"
            class="-translate-x-4 flex justify-center items-center"
          >
            <i
              class="fa-solid fa-bars-staggered font-bold text-2xl text-white"
            ></i>
          </button>
        </li>
        <li class="">
          <div class="w-full h-12">
            <ul class="w-full h-full justify-start items-center flex gap-5 p-2">
              <li class="text-white" sec:authorize="hasRole('ROLE_USER')" >
                <a href="https://www.facebook.com" class="group" target="_blank"
                  ><i
                    class="fa fa-facebook group-hover:scale-105 group-hover:ease-in-out group-hover:text-indigo-900 group-hover:-translate-y-1 transition-all"
                  ></i>
                </a>
              </li>
              <li class="text-white" sec:authorize="hasRole('ROLE_USER')" > 
                <a
                  href="https://www.linkedin.com/in/jesus-jean-carlos-gonzales-vela-775966332/"
                  target="_blank"
                  class="group"
                  ><i
                    class="fa fa-linkedin group-hover:scale-105 group-hover:ease-in-out group-hover:text-indigo-900 group-hover:-translate-y-1 transition-all"
                  ></i>
                </a>
              </li>
              <li class="text-white" sec:authorize="hasRole('ROLE_USER')" >
                <a
                  href="https://www.instagram.com"
                  target="_blank"
                  class="group"
                  ><i
                    class="fa fa-instagram group-hover:scale-105 group-hover:ease-in-out group-hover:text-indigo-900 group-hover:-translate-y-1 transition-all"
                  ></i>
                </a>
              </li>
              <li class="text-white"  sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin/usuarios}" class="text-xl bg-gray-700 px-3 py-1 rounded-lg">Usuarios</a>
              </li>
              <li class="text-white"  sec:authorize="hasRole('ROLE_USER')">
                <a th:href="@{/usuario/perfil}" class="text-xl bg-gray-700 px-3 py-1 rounded-lg">Profile</a>
              </li>
              <li sec:authorize="isAuthenticated()">
                <form action="" method="post" th:Action="@{/logout}">
                  <button
                    type="submit"
                    class="group relative inline-flex items-center justify-center px-3 py-1 overflow-hidden font-bold rounded-lg shadow-2xl transition duration-300 ease-out bg-white hover:bg-indigo-900"
                  >
                    <span
                      class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-indigo-900 group-hover:translate-x-0 ease"
                    >
                      <svg
                        class="w-4 h-4"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                        ></path>
                      </svg>
                    </span>
                    <span
                      class="absolute flex text-gray-900 items-center justify-center w-full h-full transition-all duration-300 transform group-hover:translate-x-full ease"
                      >Logout</span
                    >
                    <span class="relative invisible text-gray-900"
                      >Log out</span
                    >
                  </button>
                </form>
              </li>
              <li sec:authorize="isAnonymous()">
                <form action="" method="get " th:Action="@{/login}">
                  <button
                    class="group relative inline-flex items-center justify-center px-3 py-1 overflow-hidden font-bold rounded-lg shadow-2xl transition duration-300 ease-out bg-white hover:bg-indigo-900"
                  >
                    <span
                      class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-indigo-900 group-hover:translate-x-0 ease"
                    >
                      <svg
                        class="w-4 h-4"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                        ></path>
                      </svg>
                    </span>
                    <span
                      class="absolute flex text-gray-900 items-center justify-center w-full h-full transition-all duration-300 transform group-hover:translate-x-full ease"
                      >Sing in</span
                    >
                    <span class="relative invisible text-gray-900"
                      >Sing in</span
                    >
                  </button>
                </form>
              </li>
              <li sec:authorize="isAnonymous()">
                <form action="" method="get" th:action="@{/registroUsuario}">
                  <button
                    class="group relative inline-flex items-center justify-center px-3 py-1 overflow-hidden font-bold rounded-lg shadow-2xl transition duration-300 ease-out bg-white hover:bg-indigo-900"
                  >
                    <span
                      class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-indigo-900 group-hover:translate-x-0 ease"
                    >
                      <svg
                        class="w-4 h-4"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
                        ></path>
                      </svg>
                    </span>
                    <span
                      class="absolute flex text-gray-900 items-center justify-center w-full h-full transition-all duration-300 transform group-hover:translate-x-full ease"
                      >Register</span
                    >
                    <span class="relative invisible text-gray-900"
                      >Register</span
                    >
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </main>

  <!-- <form action="" class="w-[120px] h-[30px] bg-indigo-900 rounded-lg absolute top-1 text-white hover:text-indigo-500 transition-colors right-0 flex"  method="post" th:Action="@{/logout}">
                <button type="submit" class="w-full h-full flex justify-center items-center gap-5">
                    logout
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v1" />
                      </svg>
                      
                </button>
            </form> -->
</header>
